.staff-card {
    min-height: 529px;
    width: 420px;
    background-color: $card-color;
    border-radius: 30px 30px 0 30px;
    padding: 79px 68px 0 68px;
    text-align: center;

    &__title {
        color: #001626;
        font-size: 30px;
        font-family: 'HelveticaLT-Bold';
        line-height: 35px;
        margin-bottom: 28px;
    }

    &__description {
        color: $desc-color;
        font-size: 17px;
        font-family: 'HelveticaLT-Medium';
        line-height: 30px;
        margin-bottom: 28px;
    }

    &__image {
        width: auto;
        // position: absolute;
        // bottom: 0px;
    }
}

.story-card {
    min-height: 704px;
    background-color: $primary-color;
    border-radius: 100px 100px 100px 0;
    padding-top: 104px;
    position: relative;

    &__logo {
        height: 67px;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 190px;
        font-family: 'HelveticaLT-Heavy';
        color: $light;
        line-height: 140px;
        margin-bottom: 190px;
    }

    &__bg {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    &__btn {
        z-index: 999;
    }
}