@font-face {
    font-family: "HelveticaLT-Regular";
    src: url('~/assets/fonts/Helvetica Neue LT Pro Regular.otf');
}

@font-face {
    font-family: "HelveticaLT-Medium";
    src: url('~/assets/fonts/Helvetica Neue LT Pro Medium.otf');
}

@font-face {
    font-family: "HelveticaLT-Bold";
    src: url('~/assets/fonts/Helvetica Neue LT Pro Bold.otf');
}

@font-face {
    font-family: "HelveticaLT-Heavy";
    src: url('~/assets/fonts/Helvetica Neue LT Pro Heavy.otf');
}